@font-face {
    font-family: "ProximaNova";
    src: url("../font/ProximaNova-Semibold.ttf");
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: url("../font/ProximaNova-Bold.ttf");
}

@font-face {
    font-family: "PT_Sans-Regular";
    src: url("../font/PT_Sans-Web-Regular.ttf");
}

@font-face {
    font-family: "PT_Sans";
    src: url("../font/PT_Sans-Web-Italic.ttf");
}

@font-face {
    font-family: "PT_Sans-Bold";
    src: url("../font/PT_Sans-Web-Bold.ttf");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.header {
    height: 891px;
    width: 100%;
    background: url("../img/bigscreen.png") no-repeat;
    background-size: cover;
}

.header_logo {
    padding-top: 30px;
    padding-left: 200px;
    display: flex;
    justify-content: flex-start;
}

.header_menu {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    padding-right: 200px;
}

.header_menu a {
    padding-left: 30px;
    color: #ffffff;
    font-size: 18px;
    font-family: ProximaNova;
    text-decoration: none;
}

.header_menu a:hover {
    transform: scale(1.2);
}

.header_text {
    padding-top: 252px;
}

.header_text h2 {
    text-align: center;
    font-size: 60px;
    color: #fefefb;
    font-family: ProximaNova;
    margin: 0;
}

.header_text p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #fefdfd;
    font-family: PT_Sans;
    margin: 0;
    text-align: center;
}

.content_about_wrapper {
    background: #ebebeb;
}

.content_about {
    display: flex;
    padding: 100px 160px;
}

.content_about_image {
    height: 555px;
    width: 380px;
    background: url("../img/About_us.png");
}

.content_about_image img {
    padding: 70px 165px 40px 165px;
}

.content_about_image h2 {
    color: #fefbfc;
    font-family: ProximaNova;
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.content_about_text {
    padding-left: 125px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 61%;
    color: #665f60;
    font-family: PT_Sans-Regular;
}

.content_about_text button {
    background: #ebebeb;
    font-size: 17px;
    color: #7d7a7c;
    border: 1px solid #7d7a7c;
    height: 50px;
    width: 190px;
    font-family: PT_Sans;
    margin: 80px 145px;
}

.content_services_wrapper {
    background: #ebebeb;
}

.rectangle {
    width: 100%;
    height: 800px;
    display: flex;
    padding-left: 159px;
    padding-right: 155px;
}

.rectangle_1 {
    height: 100%;
    width: 30%;
}

.rectangle_1 .square1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background: #dbdbdb;
}

.rectangle_1 .square1 img {
    margin: 100px 0 30px 0;
}

.rectangle_1 .square1 h3 {
    color: #665f60;
    font-family: PT_Sans-Bold;
    font-size: 21px;
    margin: 0;
    text-align: center;
}

.rectangle_1 .square1 p {
    text-align: center;
    font-size: 15px;
    font-family: PT_Sans;
    color: #665f60;
    margin: 0;
    padding: 20px 70px 0 70px;
}

.rectangle_1 .square2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
}

.rectangle_1 .square2 img {
    margin: 100px 0 30px 0;
}

.rectangle_1 .square2 h3 {
    color: #665f60;
    font-family: PT_Sans-Bold;
    font-size: 21px;
    margin: 0;
    text-align: center;
}

.rectangle_1 .square2 p {
    text-align: center;
    font-size: 15px;
    font-family: PT_Sans;
    color: #665f60;
    margin: 0;
    padding: 20px 70px 0 70px;
}

.rectangle_2 {
    height: 100%;
    width: 30%;
}

.rectangle_2 .square3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
}

.rectangle_2 .square3 img {
    margin: 100px 0 30px 0;
}

.rectangle_2 .square3 h3 {
    color: #665f60;
    font-family: PT_Sans-Bold;
    font-size: 21px;
    margin: 0;
    text-align: center;
}

.rectangle_2 .square3 p {
    text-align: center;
    font-size: 15px;
    font-family: PT_Sans;
    color: #665f60;
    margin: 0;
    padding: 20px 70px 0 70px;
}

.rectangle_2 .square4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background: #dbdbdb;
}

.rectangle_2 .square4 img {
    margin: 100px 0 30px 0;
}

.rectangle_2 .square4 h3 {
    color: #665f60;
    font-family: PT_Sans-Bold;
    font-size: 21px;
    margin: 0;
    text-align: center;
}

.rectangle_2 .square4 p {
    text-align: center;
    font-size: 15px;
    font-family: PT_Sans;
    color: #665f60;
    margin: 0;
    padding: 20px 70px 0 70px;
}

.rectangle_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
    background: url("../img/services_bg.png") no-repeat;
    background-size: cover;
}

.rectangle_3 h2 {
    color: #fefbfc;
    font-family: ProximaNova;
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.rectangle_3 img {
    margin: 100px 0 30px 0;
}

.rectangle_3 p {
    text-align: center;
    font-size: 15px;
    font-family: PT_Sans;
    color: #fefcfd;
    margin: 0;
    padding: 115px 44px 0 44px;
}

.content_works_wrapper {
    background: url("../img/works_bg.png");
}

.content_works {
    height: 1000px;
}

.works_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: #fefcfd;
    font-size: 26px;
    font-family: ProximaNova;
}

.works_carousel {
    display: flex;
    justify-content: center;
}

.works_showcase {
    height: 621px;
    width: 732px;
}

.slick-prev::before {
    content: url("../img/arrow_left.png");
    right: 125px;
    position: absolute;
}

.slick-next::before {
    content: url("../img/arrow_right.png");
    left: 125px;
    position: absolute;
}

.works_button {
    display: flex;
    justify-content: center;
}

.works_button button {
    background-color: transparent;
    font-size: 17px;
    color: #ffffff;
    border: 1px solid #ffffff;
    height: 50px;
    width: 190px;
    font-family: PT_Sans;
    margin-top: 70px;
}

.content_our-team_wrapper {
    background-color: #ebebeb;
}

.content_our-team {
    height: 820px;
}

.our-team_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: #665f60;
    font-size: 26px;
    font-family: ProximaNova;
}

.content_person {
    display: flex;
    justify-content: space-around;
    padding: 180px 100px 0 100px;;
    height: 480px;
}

.person_1 {
    height: 355px;
    width: 350px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person_1-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.person_1-title img {
    margin-top: -130px;
}

.person_1-title h3 {
    color: #9f9acf;
    font-family: ProximaNova;
    font-size: 19px;
    margin: 0;
    padding-top: 45px;
}

.person_1-title p {
    color: #665f60;
    font-family: PT_Sans;
    font-size: 18px;
    margin: 0;
    padding-top: 15px;
}

.person_1-socmed {
    width: 100%;
    height: 15%;
    background: #9f9acf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
}

.person_2 {
    height: 355px;
    width: 350px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person_2-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.person_2-title img {
    margin-top: -130px;
}

.person_2-title h3 {
    color: #9f9acf;
    font-family: ProximaNova;
    font-size: 19px;
    margin: 0;
    padding-top: 45px;
}

.person_2-title p {
    color: #665f60;
    font-family: PT_Sans;
    font-size: 18px;
    margin: 0;
    padding-top: 15px;
}

.person_2-socmed {
    width: 100%;
    height: 15%;
    background: #9f9acf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
}

.person_3 {
    height: 355px;
    width: 350px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person_3-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.person_3-title img {
    margin-top: -130px;
}

.person_3-title h3 {
    color: #9f9acf;
    font-family: ProximaNova;
    font-size: 19px;
    margin: 0;
    padding-top: 45px;
}

.person_3-title p {
    color: #665f60;
    font-family: PT_Sans;
    font-size: 18px;
    margin: 0;
    padding-top: 15px;
}

.person_3-socmed {
    width: 100%;
    height: 15%;
    background: #9f9acf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
}

.content_contact_wrapper {
    background: url("../img/map.png") no-repeat;
    background-size: cover;
}

.content_contact {
    width: 100%;
    height: 749px;
}

.contact_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: #ffffff;
    font-size: 26px;
    font-family: ProximaNova;
    position: relative;
}

.contact_form {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.contact_form form {
    width: 865px;
    height: 280px;
}

.field_1-2 {
    display: flex;
    justify-content: space-between;
}

.contact_form .field_1-2 input {
    height: 50px;
    width: 415px;
    background: #d5d4e0;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    color: #ffffff;
    font-family: PT_Sans;
    font-size: 16px;
}

.field_3 {
    padding-top: 30px;
}

.contact_form .field_3 textarea {
    height: 200px;
    width: 100%;
    background: #d5d4e0;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    color: #ffffff;
    font-family: PT_Sans;
    font-size: 16px;
}

.contact_button {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contact_button button {
    height: 65px;
    width: 260px;
    border: none;
    background-color: #9f9acf;
    border-radius: 5px;
    font-size: 18px;
    font-family: ProximaNova;
    color: #d8d6e0;
}

.contact_button_top {
    display: flex;
    justify-content: flex-end;
    margin-top: -70px;
    margin-right: 30px;
}

.contact_button_top button {
    height: 85px;
    width: 85px;
    border: none;
    background-color: #9f9acf;
    opacity: 0.6;
    border-radius: 5px;
}

.footer {
    height: 150px;
    background-color: #9f9acf;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_text {
    color: #ffffff;
    font-size: 16px;
    font-family: PT_Sans-Regular;
}

.footer_socmed img {
    padding-left: 15px;
}

@media only screen and (max-width: 992px) {
    .content_about {
        width: 960px;
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .content_about_image {
        margin: 0 auto;
    }

    .content_about_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .content_about_text button {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 768px) {
    .content_about {
        width: 720px;
        display: block;
        margin: 0 auto;
        padding: 0;
    }
}

@media only screen and (max-width: 576px) {
    .content_about {
        width: 540px;
        display: block;
        margin: 0 auto;
        padding: 0;
    }
}

@media only screen and (max-width: 992px) {
    .content_services {
        width: 960px;
    }

    .rectangle {
        display: block;
        height: auto;
        padding: 0;
        width: 50%;
        margin: 0 auto;
    }

    .rectangle_1 {
        width: 100%;

    }

    .rectangle_1 .square1 p {
        padding-bottom: 100px;
    }

    .rectangle_1 .square2 p {
        padding-bottom: 100px;
    }

    .rectangle_2 {
        width: 100%;
    }

    .rectangle_2 .square3 p {
        padding-bottom: 100px;
    }

    .rectangle_2 .square4 p {
        padding-bottom: 100px;
    }

    .rectangle_3 {
        width: 100%;
        height: 935px;
    }
}

@media only screen and (max-width: 768px) {
    .content_services {
        width: 720px;
    }

    .rectangle {
        display: block;
        height: auto;
    }

    .rectangle_1 {
        width: 100%;
    }

    .rectangle_1 .square1 p {
        padding-bottom: 100px;
    }

    .rectangle_1 .square2 p {
        padding-bottom: 100px;
    }

    .rectangle_2 {
        width: 100%;
    }

    .rectangle_2 .square3 p {
        padding-bottom: 100px;
    }

    .rectangle_2 .square4 p {
        padding-bottom: 100px;
    }

    .rectangle_3 {
        width: 100%;
        height: 800px;
    }
}

@media only screen and (max-width: 576px) {
    .content_services {
        width: 540px;
        margin: 0 auto;
    }

    .rectangle {
        display: block;
        height: auto;
    }

    .rectangle_1 {
        width: 100%;
    }

    .rectangle_1 .square1 p {
        padding-bottom: 100px;
    }

    .rectangle_1 .square2 p {
        padding-bottom: 100px;
    }

    .rectangle_2 {
        width: 100%;
    }

    .rectangle_2 .square3 p {
        padding-bottom: 100px;
    }

    .rectangle_2 .square4 p {
        padding-bottom: 100px;
    }

    .rectangle_3 {
        width: 100%;
        height: 800px;
    }
}

@media only screen and (max-width: 992px) {
    .content_works {
        width: 960px;
        height: auto;
        margin: 0 auto;
    }

    .slick-next::before {
        left: 70px;
    }

    .slick-prev::before {
        right: 70px;
    }

    .works_button {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .content_works {
        width: 720px;
        height: auto;
    }

    .works_showcase {
        height: 60%;
        width: 60%;
    }

    .slick-next::before {
        left: 70px;
    }

    .slick-prev::before {
        right: 70px;
    }
}

@media only screen and (max-width: 576px) {
    .content_works {
        width: 540px;
        height: auto;
    }

    .works_showcase {
        height: 60%;
        width: 60%;
    }

    .slick-next::before {
        left: 70px;
    }

    .slick-prev::before {
        right: 70px;
    }
}

@media only screen and (max-width: 992px) {
    .content_our-team {
        width: 960px;
        height: auto;
        margin: 0 auto;
    }

    .content_person {
        display: block;
        height: auto;
        padding-bottom: 50px;
    }

    .person_1 {

        margin: 0 auto;
    }

    .person_2 {
        margin: 150px auto;
    }

    .person_3 {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .content_our-team {
        width: 720px;
        height: auto;
        margin: 0 auto;
    }

    .content_person {
        display: block;
        height: auto;
        padding-bottom: 50px;
    }

    .person_1 {

        margin: 0 auto;
    }

    .person_2 {
        margin: 150px auto;
    }

    .person_3 {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 576px) {
    .content_our-team {
        width: 540px;
        height: auto;
        margin: 0 auto;
    }

    .content_person {
        display: block;
        height: auto;
        padding-bottom: 50px;
    }

    .person_1 {

        margin: 0 auto;
    }

    .person_2 {
        margin: 150px auto;
    }

    .person_3 {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 992px) {
    .content_contact {
        width: 960px;
        height: auto;
        margin: 0 auto;
    }

    .contact_form {
        padding-top: 0;
    }

    .field_1-2 {
        flex-direction: column;
        align-items: center;
    }

    .contact_form .field_1-2 input {
        margin-top: 20px;
        width: 50%;
    }

    .field_3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_form .field_3 textarea {
        width: 50%;
        height: 150px;
    }

    .contact_button_top {
        margin-right: 35px;
    }

    .contact_button_top button {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .content_contact {
        width: 720px;
        height: auto;
        margin: 0 auto;
    }

    .contact_form {
        padding-top: 0;
    }

    .field_1-2 {
        flex-direction: column;
        align-items: center;
    }

    .contact_form .field_1-2 input {
        margin-top: 20px;
        width: 50%;
    }

    .field_3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_form .field_3 textarea {
        width: 50%;
        height: 150px;
    }

    .contact_button_top {
        margin-right: 35px;
    }

    .contact_button_top button {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .content_contact {
        width: 540px;
        height: auto;
        margin: 0 auto;
    }

    .contact_form {
        padding-top: 0;
    }

    .field_1-2 {
        flex-direction: column;
        align-items: center;
    }

    .contact_form .field_1-2 input {
        margin-top: 20px;
        width: 50%;
    }

    .field_3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_form .field_3 textarea {
        width: 50%;
        height: 150px;
    }

    .contact_button_top {
        margin-right: 35px;
    }

    .contact_button_top button {
        margin-bottom: 20px;
    }
}